/*****************************************/
/* clases relativas a contenedores       */
#pagina {
	position:absolute;
	background-color:#fff;
	font-family: helvetica;
	font-size:8pt;
	left:4%;
	width:90%;
}
#zonaLogo {
	position:absolute;
	top:0em;
	left:0em;
	width:20%;
	height:150px;
	background-color:#fff;
	text-align:center;
	vertical-align:middle;
}
#zonaMenu {
	position:absolute;
	top:150px;
	left:0em;
	width:80%;
	height:100%;
	background-color:#fff;	
}
#zonaContenido {
	position:relative;
	top:0em;
	left:0%;
	width:100%;
	height:100%;
	text-align: right;
}
#localizacion {
	position:relative;
	top:3%;
	left:1%;
	width:100%;
}
#tituloForm {
	position:relative;
	top:4%;
	left:1%;
	width:80%;
}
#tituloForm2 {
	position:relative;
	top:4%;
	left:1%;
	width:100%;
}
#frmBusqueda {
	position:relative;
	top:5%;
	left:1%;
	width:80%;
	background-color:#f5f5f5;
	border-top:solid 1px #dcdcdc;
	border-left:solid 1px #dcdcdc;
	border-right:solid 1px #696969;
	border-bottom:solid 1px #696969;
}
#frmBusqueda2 {
	position:relative;
	top:5%;
	left:1%;
	width:100%;
	background-color:#f5f5f5;
	border-top:solid 1px #dcdcdc;
	border-left:solid 1px #dcdcdc;
	border-right:solid 1px #696969;
	border-bottom:solid 1px #696969;
}

#cuadroTotales {
	position:relative;
	top:5%;
	background-color:#9ED377;
	border-top:solid 1px #dcdcdc;
	border-left:solid 1px #dcdcdc;
	border-right:solid 1px #696969;
	border-bottom:solid 1px #696969;
}

#frmBusqueda li {
	list-style-image:url(../img/error2.png);
	color:#000;
	text-transform:uppercase;
	text-align:left;
	height:20px;
	vertical-align:middle;
}

#botonBusqueda {
	position:relative;
	top:5%;
	left:1%;
	width:80%;	
	text-align:right;
	margin-top:.5em;
	padding-top:1em;
/*	border-top:solid 1px #696969;	*/
}
#lineaResultado {
	position:relative;
	top:10%;
	left:1%;
	width:100%;	
}
#cabeceraResultado {
	position:relative;
	top:11%;
	left:1%;
	width:80%;	
}
#cabeceraResultado2 {
	position:relative;
	top:11%;
	left:1%;
	width:100%;	
}
.totalResultado  {
	background-color:#ff8c00;
	color:#fff;
}
#frmResultado {
	position:relative;
	top:11%;
	left:1%;
	width:80%;
/*
	background-color:#f5f5f5;
	border-top:solid 1px #dcdcdc;
	border-left:solid 1px #dcdcdc;
	border-right:solid 1px #696969;
	border-bottom:solid 1px #696969;
*/
}
/*****************************************/
/* clases relativas a tablas             */
.header {
	background-color:#408D01;
	color:#fff;
	/*text-transform:uppercase;*/
	margin:15px 0 0 20px;
	padding-top: 7px;
    padding-bottom: 7px; 
	padding-left: 20px;
    padding-right: 7px; 
	text-align:center;
	font-family: Verdana, Geneva, sans-serif;
	
	font-size: 14px;
	/*height:20px;*/
	vertical-align:center;
}
.Menu {
	text-align:left;
	color: #408D01;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	
	text-transform: capitalize;
	text-decoration: none;
	vertical-align:middle;
	
}
.Menu2 {
	color: #666;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	
	width:200px; /* ancho del label */
	text-transform: capitalize;
	vertical-align:middle;
	
	
}

.Menu3 {
	color: #093;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	/* ancho del label */
	text-transform: capitalize;
	text-decoration: none;
	text-align: left;
	vertical-align:middle;
	
}
.mensaje {
	background-color: #00CC00;
	color:#036;
	text-transform: capitalize;
	text-align:center;
	font-weight:Verdana, Geneva, sans-serif;
	height:20px;
	vertical-align:middle;
}
.mensajeminimo {
	background-color: #FF0000;
	color:#fff;
	text-transform: capitalize;
	text-align:center;
	font-weight:Verdana, Geneva, sans-serif;
	height:20px;
	vertical-align:middle;
}
.cabeceraTabla {
	background-color:#5f5f5f;
	color:#fff;
	font-weight:bold;
	text-align:center;
	text-transform:uppercase;
}
.itemParTabla {
	background-color:#ccc;
}
.itemImparTabla {
	background-color:#f5f5f5;
}
/*****************************************/
/* clases relativas a hiperenlace        */
a:link {
	font:8pt verdana,arial;
	color:#000;
}
a:visited {
	font:8pt verdana,arial;
	color:#000;
}
a:hover {
	font:8pt verdana,arial;
	color:#ff8c00;
}
/*****************************************/
/* clases relativas a la fuente de texto */
.fuente8 {
	text-align: left;
	font-family: helvetica;
	font-size: 8pt;
}
.aDerecha {
	text-align:right;
	color: #006600;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	
	text-transform: capitalize;
	text-decoration: none;
	vertical-align:middle;
}
.aCentro {
	text-align:center;
	color: #006600;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	
	text-transform: capitalize;
	text-decoration: none;
	vertical-align:middle;
}
.aleft {
	text-align:left;
	color: #006600;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	
	text-transform: capitalize;
	text-decoration: none;
	vertical-align:middle;
	
}
/*****************************************/
/* clases relativas a objetos            */
.boton {
	color:#000;
	background-color:#dcdcdc;
	border-style:solid;
	border-color:#696969;
	border-width:1px 1px 1px 1px;
    font:bold 8pt helvetica;
    text-transform:lowercase;
    width:90px;
    height:15pt;
}

.botonprov {
	color:#000;
	background-color:#dcdcdc;
	border-style:solid;
	border-color:#696969;
	border-width:1px 1px 1px 1px;
    font:bold 8pt helvetica;
    text-transform:lowercase;
    width:130px;
    height:15pt;
}

.cajaPequena {
	float:left;/* Importante, para la alineación */
	width:120px;
	height:22px;/* Medidas del Input */
	margin:0 0 0 0;
	/*padding:3px;*/
	color:#FFF;
	font-size:14px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background-color: #408D01; 
	border: #408D01; 
	border-style: solid;
	border-top-width: 1px; 
	border-right-width: 1px; 
	border-bottom-width: 1px; 
	border-left-width: 1px;
}

.cajaPequena2 {
	float:left;/* Importante, para la alineación */
	width:55px;
	height:22px;/* Medidas del Input */
	margin:0 0 0 0;
	padding:3px;
	color:#FFF;
	font-size:14px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background-color: #408D01; 
	border: #408D01; 
	border-style: solid;
	border-top-width: 1px; 
	border-right-width: 1px; 
	border-bottom-width: 1px; 
	border-left-width: 1px;
}

.cajaMinima {
	background-color:#fff;
	font:8pt helvetica;	
	color:#000;
	width:30px;
	border-color:#9ED377;	
	border-style :solid;
	border-width :1px;
	height:15pt;
}

.cajaTotales {
	background-color:#408D01;
	font:8pt helvetica;	
	color:#006600;
	width:75px;
	border-color:#408D01;	
	border-style :solid;
	border-width :1px;
	height:15pt;
	text-align:right;
}

.cajaMedia {
	background-color:#408D01;
	font:8pt helvetica;
	text-transform:uppercase;
	color:#000;
	width:150px;
	border-color:#696969;
	border-style :solid;
	border-width :1px;
	height:15pt;
}
.cajaGrande {
	float:left;/* Importante, para la alineación */
	width:220px;
	height:22px;/* Medidas del Input */
	margin:0 0 0 0;
	padding:3px;
	color:#FFF;
	font-size:14px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background-color: #408D01; 
	border: #408D01; 
	border-style: solid;
	border-top-width: 1px; 
	border-right-width: 1px; 
	border-bottom-width: 1px; 
	border-left-width: 1px;

}
.cajaGrande2 {
	float:left;/* Importante, para la alineación */
	width:250px;
	height:22px;/* Medidas del Input */
	margin:0 0 0 0;
	padding:3px;
	color:#FFF;
	font-size:14px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background-color: #408D01; 
	border: #408D01; 
	border-style: solid;
	border-top-width: 1px; 
	border-right-width: 1px; 
	border-bottom-width: 1px; 
	border-left-width: 1px;

}
.comboPequeno {
	float:right;/* Importante, para la alineación */
	width:75px;
	height:25px;/* Medidas del Input */
	margin:0 0 0 0;
	padding:3px;
	color:#FFF;
	font-size:14px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px; 
	background-color: #408D01; 
	border: #408D01; 
	border-style: solid;
	border-top-width: 1px; 
	border-right-width: 1px; 
	border-bottom-width: 1px; 
	border-left-width: 1px;
}
.comboPequeno2 {
	float:left;/* Importante, para la alineación */
	width:75px;
	height:25px;/* Medidas del Input */
	margin:0 0 0 0;
	padding:3px;
	color:#FFF;
	font-size:14px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px; 
	background-color: #408D01; 
	border: #408D01; 
	border-style: solid;
	border-top-width: 1px; 
	border-right-width: 1px; 
	border-bottom-width: 1px; 
	border-left-width: 1px;
}
.comboMedio {
	float:left;/* Importante, para la alineación */
	width:200px;
	height:27px;/* Medidas del Input */
	margin:0 0 0 0;
	padding:3px;
	color:#FFF;
	font-size:14px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px; 
	background-color: #408D01; 
	border: #408D01; 
	border-style: solid;
	border-top-width: 1px; 
	border-right-width: 1px; 
	border-bottom-width: 1px; 
	border-left-width: 1px;

}
.comboGrande {
	float:left;/* Importante, para la alineación */
	width:250px;
	height:27px;/* Medidas del Input */
	margin:0 0 0 0;
	padding:3px;
	color:#FFF;
	font-size:14px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px; 
	background-color: #408D01; 
	border: #408D01; 
	border-style: solid;
	border-top-width: 1px; 
	border-right-width: 1px; 
	border-bottom-width: 1px; 
	border-left-width: 1px;

}
.areaTexto {
float:left;/* Importante, para la alineación */
	width:200px;
	height:65px;/* Medidas del Input */
	margin:0 0 0 0;
	padding:3px;
	color:#FFF;
	font-size:16px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	 
	
	 
	background-color: #408D01; 
	border: #408D01; 
	border-style: solid;
	border-top-width: 1px; 
	border-right-width: 1px; 
	border-bottom-width: 1px; 
	border-left-width: 1px;}
	
	.areaTexto2 {
float:left;/* Importante, para la alineación */
	width:200px;
	height:240px;/* Medidas del Input */
	margin:0 0 0 0;
	padding:3px;
	color:#FFF;
	font-size:16px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	 
	
	 
	background-color: #408D01; 
	border: #408D01; 
	border-style: solid;
	border-top-width: 1px; 
	border-right-width: 1px; 
	border-bottom-width: 1px; 
	border-left-width: 1px;}
	
	#registrar{
	float:center;
	
	margin:0 0 30px 0;
	color:#FFF;
	width:100px;
	height:40px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	background-color: #408D01;
}
.areaTexto3 {
/* Importante, para la alineación */
	width:200px;
	height:160px;/* Medidas del Input */
	margin:0 0 0 0;
	padding:3px;
	color:#FFF;
	font-size:16px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	 
	
	 
	background-color: #408D01; 
	border: #408D01; 
	border-style: solid;
	border-top-width: 1px; 
	border-right-width: 1px; 
	border-bottom-width: 1px; 
	border-left-width: 1px;}
	
	
/* Hover a nuestro Boton 
   No funciona en IE6(no se por qué lo siguen usando xD) */
#registrar:hover{
	background:#9ED377;
	color:#003;
	text-align: center;
}
.loco
{
float:right;
}
