ul {
	margin: 0;
	padding: 0;
	list-style: none;
	width:80%;
}
ul li {
	position:relative;
	display:block;
	left:0.5em;
	padding:0.5em;
	margin:0.2em;
	background-color:#03C;
	border:solid 1px #696969;
	width:100%;
	font-family: Verdana, Geneva, sans-serif;
}
.submenu {
	background-color:#ffffff;
}
ul li a {
	text-decoration: none;
}
.itemOver 
{
	background-image:url(../img/icono1.gif);
	background-position:left middle;
	background-repeat:no-repeat;
/*	background-color:#696969;*/
	color:#ff8c00;
}
.itemOut {
	background-color:#dcdcdc;
	color:#000;
}