/*
 * ThemeGray Style Sheet
 * by Ian Reyes and Heng Yuan
 */

.ThemeGrayMenu,.ThemeGraySubMenuTable
{
	font-family: Verdana, Geneva, sans-serif;
	font-weight: normal;
	font-size: 16px;
	color: #fff;
	background-color: #fff;
	cursor:		default;
	cursor:		hand !important;
	white-space:	nowrap;
	border-top-color: #408D01;
}

.ThemeGraySubMenu
{
	position:	absolute;
	display:	block;
	visibility:	hidden;
	overflow:	hidden;
	border:		1px outset #9C9A9C;
	background-color: #408D01;
}

.ThemeGraySubMenuTable
{
	border-collapse:	separate;
	opacity:	0.9;
	filter:Alpha(style=0,opacity=90);
}

.ThemeGrayMenuItem,.ThemeGrayMenuItemHover,.ThemeGrayMenuItemActive
{
	cursor:		default;
	cursor:		hand !important;
	white-space:	nowrap;
}

.ThemeGrayMainItem,
.ThemeGrayMenuItem
{
	padding:	4px 10px 4px 10px;
	border:		0px solid #006;
	background-color:	#408D01;
}

.ThemeGrayMainItemHover,
.ThemeGrayMainItemActive
{
	padding:	4px 10px 4px 10px;
	border:		0px solid #ffffff;
	background-color:	#9ED377;
	color:#090;
}

.ThemeGrayMenuItemHover,
.ThemeGrayMenuItemActive
{
	padding:	5px;
	border:		1px solid ; 
	background-color:	#B1DE8D;
	color:#060;
}

/* horizontal main menu sub components */
/* panel doesn't really support horizontal menus */
/* there are simpler approaches, but the setting here allows me to
   set a background image for the menu without lines all over it */

.ThemeGrayMainFolderLeft,
.ThemeGrayMainItemLeft,
.ThemeGrayMainFolderText,
.ThemeGrayMainItemText,
.ThemeGrayMainItemRight,
.ThemeGrayMainFolderRight
{
	border: 0;
	background-color: inherit;
	white-space: nowrap;
}

/* sub menus sub components */

.ThemeGrayMenuFolderLeft,
.ThemeGrayMenuItemLeft
{
	padding:	3px 0px 3px 3px;
	border:		0;
	white-space:	nowrap;
	background-color:	inherit;
}

.ThemeGrayMenuFolderText,
.ThemeGrayMenuItemText
{
	padding:	3px 3px 3px 5px;

	border:		0;
	white-space:	nowrap;
	background-color:	inherit;
}

.ThemeGrayMenuItemRight,
.ThemeGrayMenuFolderRight
{
	padding:	3px 1px 3px 0px;

	border:		0;
	white-space:	nowrap;
	background-color:	inherit;
}

/* hoover and active border */
.ThemeGrayMenuItemHover .ThemeGrayMenuFolderLeft,
.ThemeGrayMenuItemActive .ThemeGrayMenuFolderLeft,
.ThemeGrayMenuItemHover .ThemeGrayMenuItemLeft,
.ThemeGrayMenuItemActive .ThemeGrayMenuItemLeft,
.ThemeGrayMenuItemHover .ThemeGrayMenuFolderText,
.ThemeGrayMenuItemActive .ThemeGrayMenuFolderText,
.ThemeGrayMenuItemHover .ThemeGrayMenuItemText,
.ThemeGrayMenuItemActive .ThemeGrayMenuItemText,
.ThemeGrayMenuItemHover .ThemeGrayMenuFolderRight,
.ThemeGrayMenuItemActive .ThemeGrayMenuFolderRight,
.ThemeGrayMenuItemHover .ThemeGrayMenuItemRight,
.ThemeGrayMenuItemActive .ThemeGrayMenuItemRight
{
	border-color:	#9C9A9C;
}

.ThemeGrayMenuItemHover .ThemeGrayMenuFolderLeft,
.ThemeGrayMenuItemActive .ThemeGrayMenuFolderLeft,
.ThemeGrayMenuItemHover .ThemeGrayMenuItemLeft,
.ThemeGrayMenuItemActive .ThemeGrayMenuItemLeft
{
	border-width:	1px 0px 1px 1px;
	border-style:	solid;
	padding:	2px 0px 2px 2px;
}

.ThemeGrayMenuItemHover .ThemeGrayMenuFolderText,
.ThemeGrayMenuItemActive .ThemeGrayMenuFolderText,
.ThemeGrayMenuItemHover .ThemeGrayMenuItemText,
.ThemeGrayMenuItemActive .ThemeGrayMenuItemText
{
	border-width:	1px 0px 1px 0px;
	border-style:	solid;
	padding:	2px 3px 2px 5px;
}

.ThemeGrayMenuItemHover .ThemeGrayMenuFolderRight,
.ThemeGrayMenuItemActive .ThemeGrayMenuFolderRight,
.ThemeGrayMenuItemHover .ThemeGrayMenuItemRight,
.ThemeGrayMenuItemActive .ThemeGrayMenuItemRight
{
	border-width:	1px 1px 1px 0px;
	border-style:	solid;
	padding:	2px 0px 2px 0px;
}

td.ThemeGrayMenuSplit
{
	padding:	0px;
	margin:		0px;
	height:		5px;
	border:		0px;
	background-color:	inherit;
	overflow:	hidden;
}

div.ThemeGrayMenuSplit
{
	margin: 2px;
	height: 1px;
	overflow: hidden;
	background-color: inherit;
	border-top: 1px solid #9C9A9C;
}

/* image shadow animation */

/*
	seq1:	image for normal
	seq2:	image for hover and active

	To use, in the icon field, input the following:
	<img class="seq1" src="normal.gif" /><img class="seq2" src="hover.gif" />
*/

.ThemeGrayMenuItem img.seq1
{
	display:	inline;
}

.ThemeGrayMenuItemHover seq2,
.ThemeGrayMenuItemActive seq2
{
	display:	inline;
}

.ThemeGrayMenuItem .seq2,
.ThemeGrayMenuItemHover .seq1,
.ThemeGrayMenuItemActive .seq1
{
	display:	none;
}
